[2017-12-06 20:42] CoDanny opened #6 "Move SQLite file to plugin data directory"
The current sql lite file is in the logs directory.

https://github.com/AstroPrint/OctoPrint-AstroPrint/blob/c1a166af7f8f5ad1ba78cfea581151e029267383/octoprint_astroprint/AstroprintDB.py#L11

it should be moved to the data directory

http://docs.octoprint.org/en/master/modules/plugin.html#octoprint.plugin.types.OctoPrintPlugin.get_plugin_data_folder

[2017-12-15 09:18] #6 closed, assigned to CoDanny

[2017-12-16 06:35] kennethpangky opened #8 "Not seeing any way to link Astroprint account to Octopi"
https://imgur.com/a/5ExA2

As in image, there is no way for me to enter the Access Key from Astro Cloud Settings into the Astroprint plugin. I have tried enabling CORS but no change. Or am I doing something wrong?

[2017-12-16 09:16] CoDanny commented on #8
When you install the plugin, a new tab called “AstroPrint” is added to the OctoPrint menu ( alongside “Control”, “Terminal”, “Timelapse”, etc)

It’s there that you make the connection.

This seems to be confusing, you’re not the first one to ask. We’ll add an option in settings

[2017-12-16 09:16] #8 closed, assigned to nobody

[2017-12-16 13:58] alasharim opened #9 "Tab not Appearing on Octoprint side"
Octoprint: 1.3.6
    Octopi: 0.14
  Chrome: 63.0.3239.84 (Official Build) (64-bit)
         OS: Windows 10 (64-bit)

I installed the latest AstroPrint Plugin and a Tab never Appeared so I reinstalled the plugin and the same problem persists, and yes I restarted in all of the installs/uninstalls.

![image](https://user-images.githubusercontent.com/26365097/34071106-444d742e-e282-11e7-8de9-da0024507

[2017-12-18 10:36] CoDanny commented on #9
Do you see the AstroPrint plugin settings tab on settings? Does the plugin manager show the astroprint plugin installed?

[2017-12-18 12:28] alasharim commented on #9
somehow the problem fixed its self, thanks for the great plugin 👍

[2017-12-18 12:31] CoDanny commented on #9
Thanks!

[2017-12-18 12:31] #9 closed, assigned to nobody

[2017-12-20 16:04] BenWoodford commented on #8
Yeah the confusion is purely down to the fact that you've got the tab on the dashboard for adding the key, but then every other setting is under settings.

[2017-12-20 16:06] BenWoodford opened #10 "Astroprint tab doesn't follow CSS for the rest of Octoprint"
This is mostly an issue if you have a dark theme installed. Headings, pagination, the main bar at the top of the tab should all be following the existing colours wherever possible to avoid mismatches when themes are used.

[2017-12-20 17:04] CoDanny opened #11 "The settings area should better explain where to link the account"
The account is linked in the plugin tab but more people look in settings first. We should explain (and provide a link) that the account link is done in the plugin tab.

[2017-12-24 00:38] leobel96 opened #12 "Can't control my printer"
Everything works in astroprint, except the "control" tab of my printer: when I try accessing it a message appear saying I must be in the same network of my printer to control it also if I try accessing in the same network

[2017-12-24 00:51] leobel96 opened #13 "[Request] Add support to third-party plugins"
Please add support to octoprint third-party plugins such as Octoprint-enclosure (https://github.com/vitormhenrique/OctoPrint-Enclosure) so that printer can also be switched on and off from everywhere.

[2017-12-28 08:16] CoDanny opened #14 "The Plugin seems to crash OctoPrint"
More information here: https://github.com/foosel/OctoPrint/issues/2320

[2017-12-28 08:50] CoDanny commented on #12
Is this on the mobile app? If so, the app needs to be updated in order to control the OctoPi Box on local network. The next release will have it.

[2017-12-28 09:30] leobel96 commented on #12
Yes, thank you!!

[2017-12-28 09:50] CoDanny commented on #12
I'll close this now. It's known and being addressed by the mobile app.

[2017-12-28 09:50] #12 closed, assigned to nobody

[2017-12-28 12:33] #11 closed, assigned to Alfonsopl

[2017-12-28 12:33] #14 closed, assigned to Alfonsopl

[2017-12-28 12:34] CoDanny commented on #10
@BenWoodford Could you give more info regarding how to follow themes? Is there documentation?

[2018-01-05 05:31] 3Dude10 opened #16 "Administrator Access?"
Trying to get the AstroPrint Plug-in to work but I am confused. It says “only accounts with administrator access can interact with the AstroPrint Plugin.” Anybody know what I did wrong and a way to get it working?

[2018-01-05 10:58] CoDanny commented on #16
You need to have admin rights in your OctoPrint account to enable this plugin

[2018-01-06 05:00] 3Dude10 commented on #16
Can I get these rights, is it just in the settings somewhere? I am fairly new to OctoPrint, sorry if this is a dumb question.

[2018-01-06 08:59] CoDanny commented on #16
If the box is yours, you should log into OctoPrint with the username that you used when you first setup the box.

[2018-01-06 16:59] 3Dude10 commented on #16
Just want to make it clear, this is the Raspberry Pi 3 running Octoprint not an AstroBox. I am logged in on OctoPrint But I cant use the AstroPrint because it says the message above.

[2018-01-06 17:08] 3Dude10 commented on #16
[https://plus.google.com/102577967477565381385/posts/LpC2iX4HNPn](url) Here is the link to my orginal question on google communities.  It has a picture of my screen too.

[2018-01-06 17:44] CoDanny commented on #16
@3Dude10 I understand. My answer was related to your octoprint user, not the astroprint one.

[2018-01-06 18:21] 3Dude10 commented on #16
Sorry, I misunderstood you. I’ll check it right now.

[2018-01-06 18:26] 3Dude10 commented on #16
It is working now, thanks for all your help and staying with me.

[2018-01-06 18:31] CoDanny commented on #16
No worries. Glad it's working :)

[2018-01-09 18:48] GingerSneak commented on #16
This issue appears for me as well. I have only one user in my OctoPrint install. I've verified that my user has admin rights in the YAML users file. Can this be reopened?

[2018-01-09 19:05] CoDanny commented on #16
@GingerSneak We're going to investigate. Note that there we have over 1000 users using the plugin successfully. There has to be something in your (and a few others) setup. Can you think of anything that might be different? What platform are you on?

[2018-01-09 19:22] GingerSneak commented on #16
@CoDanny, details below:

OctoPrint version: 1.3.4
Plugin version: 1.0.1
OctoPi version: 0.14.0
Hardware: Raspberry Pi Zero W

[2018-01-09 21:42] CoDanny commented on #10
Closing as there has been no follow up

[2018-01-09 21:42] #10 closed, assigned to Alfonsopl

[2018-01-10 10:17] BenWoodford commented on #10
Sorry, totally forgot about this. There's no CSS guide, but it's the Themeify plugin in use. Everything else follows the correct colours but Astroprint doesn't. See below

![image](https://user-images.githubusercontent.com/503263/34767189-671d66dc-f5ef-11e7-8992-29ccf5287e25.png)

[2018-01-10 10:22] CoDanny commented on #10
@BenWoodford Yes, we saw that. Note that the whole tab is our UI and we were able to match the style in everything except that header... At the moment I don't know how to get that container to "behave".

[2018-01-10 22:59] ihateu3 commented on #16
Same issue here as well...

Was working fine forever, maybe it was the last octoprint update?

[2018-01-11 09:44] CoDanny commented on #16
@ihateu3 Which Octoprint update, what version are you running and which version was working?

[2018-01-12 00:38] GingerSneak commented on #16
@CoDanny, is there a log file I can look at or debugging that can be enabled to give more information?

[2018-01-12 01:13] ihateu3 commented on #16
I am not really sure which version that I was on before, but I only have had octoprint for around a month, so it was current when I built it, I am currently on 1.3.6

As far as any logs, I didn't really find anything of value, but then again I do not know really what I am looking for.  I attached a log for you to see.
[octoprint.log.2018-01-07.txt](https://github.com/AstroPrint/OctoPrint-AstroPrin

[2018-01-12 09:15] CoDanny commented on #16
@GingerSneak In the logs directory there should be a log specific to the plugin, but it might not give any information since you can't even connect it due to the non-admin account. You can also look for javascript errors in your browser's web console.

@ihateu3 Your logs actually shows some exceptions that our plugin is putting out. It's helpful. you do have the plugin connected, correct?

[2018-01-12 09:16] CoDanny opened #17 "Silent fail in gcode handler when GCode can't be parsed"
[code]

[code]

[2018-01-12 09:18] CoDanny opened #18 "error analyzing gcode"
[code]

[2018-01-12 14:42] Alfonsopl commented on #16
In the last commit that was made to adapt the plugin to support browsers in "strict mode" a variable lost the scope and was not able to recognize the user's login.
In the next version will be fixed, meanwhile you can login in Octoprint with "remember me" selected and reload the page to access the Astroprint tab

[2018-01-12 15:10] GingerSneak commented on #16
Just tried, no luck on the 'Remember Me' checkbox, it still responds the same.

[2018-01-12 16:40] BenWoodford opened #19 "Plugin keeps forgetting my key"
Or something like that. I regularly find that Astroprint no longer knows about my printer, and I have to re-enter my Astroprint key.

Any ideas?

[2018-01-12 16:42] CoDanny commented on #19
It's likely that the access token is being deleted. How often does this happen? Can you give more details?

Do you log out of your OctoPi? Does it just happen by itself?

[2018-01-12 17:01] BenWoodford commented on #19
I'd probably say it's most common overnight. My Octoprint server is online 24/7, and isn't in a docker container or anything so it's not like it's got a config to lose.

Saying there, the config.yaml _does not_ have my API key saved in it. Could it be that?

[2018-01-13 00:56] PDunham113 commented on #16
@GingerSneak I had the same issue this morning, but it dissapeared after following Alfonsolpl's advice. I know it's a silly question, but did you refresh the page after logging in with the 'Remember Me' checkbox?

The Astroprint plugin DID NOT work when I re-logged in. It only started working after I refreshed the page.

[2018-01-13 02:12] GingerSneak commented on #16
@PDunham113, just retried with a different machine and browser. Still no joy. :-(.
I think I'm going to try to roll back a few revisions and see if that helps.

[2018-01-14 23:26] GitSoks commented on #19
I have the same problem my key is reseting every time I disconnect the raspberry from power (i don't know if this also happens if I shut it down normally)

[2018-01-15 03:54] GingerSneak commented on #16
Rolled back to 1.0.0, resolved the issue. When 1.0.2 is released, I'll be happy to install and test.

On a side note, thanks to @CoDanny and @Alfonsopl for making/contributing to this plugin, and for your responsiveness and diligence with this issue. Is there somewhere I can donate?

[2018-01-15 11:59] CoDanny commented on #16
@GingerSneak Thanks for the offer to donate. You can donate here: https://www.paypal.me/3DaGoGo

[2018-01-17 12:13] #16 closed, assigned to CoDanny

[2018-01-17 12:13] #17 closed, assigned to Alfonsopl

[2018-01-19 22:27] AllenMcAfee opened #21 "Robo Integration questions"
Hey Astro team!  I'm testing out the new Octoprint plugin for the R2 and C2 printers, and have two issues I ran into:

1.  Camera:  We are showing the "No Camera Detected" message when connected to the service.  We are using the standard Octoprint camera feature, and I have verified the camera is indeed turned on.  The camera feed path we are using is "/webcam/?action=stream" and CORS is indeed ac

[2018-01-19 22:34] AllenMcAfee commented on #21
As a note, the camera issue is also present on AstroCloud.  As of now there is no camera feed available.

[2018-01-19 22:41] AllenMcAfee opened #22 "Astro iOS app synchronization issue"
### Bug Report
- Description: When synchronizing the printer view, the Extruder temperature reading updates the temperature intermittently.  Almost 50% of the time (after a successful sync), the extruder temperature section is blank.  The other 50% of the time it updates correctly.
- Expected behavior: The extruder temperature updates 100% of the time.
- Actual behavior: Almost 50% of the time (af

[2018-01-19 22:47] AllenMcAfee commented on #21
Update:  From the Octoprint dashboard, I just noticed the "Search for Camera" option when I clicked on my user name.  I probably only found this because I was hunting for it.  It is my suggestion that the path be discovered automatically, or the "Search for Camera" button be brought to the front end a little better.

So Robo is clear on marketing, the camera view only supports still images, correc

[2018-01-20 12:16] CoDanny commented on #21
@AllenMcAfee The next version of our mobile app will have better support for octoprint instances running this plugin. The current live version is still missing some things.

[2018-01-20 12:17] CoDanny commented on #22
This is a known bug of our iOS app.

[2018-01-30 00:33] 3Dude10 opened #23 "Something Went Wrong"
I have posted on here before but had to totally wipe my Pi.  Now I have a different issue, it says, "Installing the plugin from "https://github.com/AstroPrint/OctoPrint-AstroPrint/archive/master.zip" failed: Could not parse output from pip, see plugin_pluginmanager_console.log for generated output"  I am a newbie and not totally sure how this can be fixed, Thanks.

[2018-01-30 00:52] AllenMcAfee commented on #21
@CoDanny just to note: this is existing on both AstroCloud and iOS.  Just mentioning this per your response about the mobile app update, but not about the cloud issue.

[2018-01-30 13:20] Alfonsopl commented on #23
Sorry but I could not reproduce the error.
Could you provide the plugin_pluginmanager_console.log data and check if it happens for all ways?
You can try to install the plugin by octoprint plugin managager (we are currently the second on the list), by providing our repository address or uploading the zip of master as you did.

[2018-01-30 20:22] CoDanny opened #24 "Reports of errors during installation in the latest version of Octoprint"
https://forum.astroprint.com/t/cant-install-astroprint-plugin-in-octoprint/2859/5

[2018-01-31 09:30] Alfonsopl commented on #24
Duplicate https://github.com/AstroPrint/OctoPrint-AstroPrint/issues/23

[2018-01-31 09:30] #24 closed, assigned to Alfonsopl

[2018-01-31 09:49] Alfonsopl commented on #23
I was able to reproduce the error and apparently is a octoprint issue, it only happens when you try to install from url, until is fixed you can install it from plugin repository or from an uploaded archive. Thank you for the report.

[2018-02-01 22:03] CoDanny commented on #21
Hi @AllenMcAfee,

1) I'll look into this more deeply

2) This is expected as the mobile app doesn't yet fully support local OctroPrint and the cloud UI doesn't allow for maintenance tasks like moving head, extrusion, etc.

[2018-02-02 02:27] 3Dude10 commented on #23
I tried both and I get the same message. Am I doing something else wrong?

[2018-02-02 08:45] Alfonsopl commented on #23
I´ll invistaigate and try to reproduce it.
Can you install other plugins or update octoprint?
What version  of octoprint  do you have?

[2018-02-03 20:19] 3Dude10 commented on #23
I have the newest octoprint, and I can install other plugins.

[2018-02-09 16:54] user100000 commented on #16
So how do you fix it?  I only have the default account the  octoprint   instals and I am assumming  a root account that Sudo uses.

Do I have to add  yet another  account?

[2018-02-20 02:55] adam8797 commented on #23
Ran into this same issue, was building OctoPrint on Ubuntu, not using OctoPi.

Seems to be a dependency issue. Run the following commands before installation:

[code]

[2018-02-20 03:04] adam8797 opened #25 "How to add streaming video support"
I know in the regular AstroBox release, you support streaming video via WebRTC. Is it possible to enable that for this plugin? Even if I need to manually install packages with apt-get, it would be nice to have a switch to enable it.

[2018-02-20 20:25] CoDanny commented on #25
It's a popular request. We need to take of a few other things first and then we'll look into this. You are right though, dependencies is our main fear and also the fact that we only test the video system in Raspbian ( where the AstroBox runs ) and OctoPrint can un in many more platforms.

[2018-02-22 14:46] foosel opened #26 "Causes crashes in OctoPrint's login when disabled"
I just had a user report an odd issue in foosel/OctoPrint#2442. They have the Astroprint plugin disabled, and that makes them not able to login anymore.

A closer look at OctoPrint's plugin subsystem reveals that contrary to what I so far assumed, plugins are still loaded even when disabled. Which means that in your case the plugin's implementation will be initialized, and in its constructor funct

[2018-02-22 14:51] CoDanny commented on #26
For sure @foosel, we have a new release coming up to improve support of the plugin in our mobile app and we will include this as well

[2018-02-26 10:10] foo25amc commented on #19
This also happens to me every time I shutdown or reboot. It's a shame, because the notification and email is really useful!

[2018-02-26 10:19] Alfonsopl commented on #19
Could you provide more information about your environment and octopi, and plugin version?

[2018-02-26 10:46] foo25amc commented on #19
I'm using a RPi3 running OctoPrint v1.3.6, OctoPi v0.14.0, and Astroprint v1.0.2. All packages are also up to date.

[2018-02-28 23:12] rhys100 opened #28 "RASP Pi ZERO MK3 Loses access key / connection on Octoprint Plugin"
Hi, I am not sure what variables are at play but I have the following Setup x2 and both have the same issue

RASP PI ZERO integrated into Prusa MK3 running 1.3.6 octoprint firmware and Astroprint Firmware.

Every day I need to goto the astroprint plugin tab and re input my api key and link them again.

I am not sure if the reset button on MK3 or other variables are at play but this is very annoyin

[2018-03-01 11:57] #26 closed, assigned to Alfonsopl

[2018-03-01 12:41] Alfonsopl commented on #28
We use Oauth2  tokens for provide access to AstroPrint data and boxrouter.

The only reason that  could make you get unlogged from the plugin is when you get your token expired/unauthorized. That happens after 16 days without using the plugin or very rarely when an error occurs in communications. It that happens you should get a warning in your logs with the message: "refresh token expired, AstroP

[2018-03-07 12:44] fred2088 commented on #28
got the same problem even uninstall the plugin and install again ...

[2018-03-08 09:47] Alfonsopl opened #30 "Improve box router status and connectivity"
-Show box router status with a reconnect option on AstroPrint Tab
-Try to connect box router when octoprint connectivity_checker changed from offline to online
-AstroPrint boxrouter class is not writing in astroprint logs, investigate it.

[2018-03-14 12:21] luke321 opened #31 "Ability to change printer name"
Hello,

I like this plugin an want to use it on all of my printers, however every printer added has the same name in the astroprint montor.
Is there a way to change this manually? Maybe you could add a name Input box in the astroprint plugin Tab.

Regards
Lukas

[2018-03-14 12:40] Alfonsopl commented on #31
We use box hostname for identify our boxes (and octoprint boxes too) by a name.

To change octopi hostname:
-Log in via SSH (pi@octopi.local password: raspberry, if you have more than 1 octoprint connected you will have to check its ip by your router and log by it: pi@167..... )
At the command line:
- Sudo nano /etc/hostname and change the hostname from octopi. Don´t leave spaces before or after a

[2018-03-14 12:40] #31 closed, assigned to nobody

[2018-03-14 12:42] luke321 commented on #31
Thank you for the fast response, maybe you could add that information to the Instructions.

[2018-03-19 22:04] CoDanny commented on #22
@AllenMcAfee Does this still happen with the latest version of the app 1.1.3

[2018-03-20 20:48] TeeJS opened #32 "Printer name with multiple printers"
I have multiple OctoPrint-AstroPrint devices linked to my account.  It's difficult to use the monitor or print queue function of Astroprint, as all the printers are named "octopi"  could it use the Title from the appearance section of OctoPrint or give you an option to set the name in AstroPrint?
![capture](https://user-images.githubusercontent.com/4136437/37681968-cf9a71f2-2c4d-11e8-8f63-89740458

[2018-03-21 08:34] CoDanny commented on #32
@TeeJS We currently use your hostname. Which is given to you octopi at the system level, you can change it on the OS level. However we will look to see if we can facilitate this from our plugin.

[2018-03-21 18:38] TeeJS commented on #32
Knowing it takes it from the hostname is great, thanks!

[2018-03-23 14:26] #30 closed, assigned to Alfonsopl

[2018-03-23 14:26] #32 closed, assigned to nobody

[2018-03-23 14:27] #28 closed, assigned to nobody

[2018-03-23 14:29] Alfonsopl commented on #18
This error happens when a invalid gcode like a wrong format or empty one is analyzed  (it also happens in AstroBox).
Not to much to do here

[2018-03-23 14:29] #18 closed, assigned to Alfonsopl

[2018-04-03 19:24] cnschu opened #34 "installing Astroprint via pip installs the wrong version of pillow"
**expected behavior:**
installing AstroPrint via pip uses the existing pillow version if > 3.1.0

**observed behavior:**
installing Astroprint via pip with an pillow version of 5.0.0 installed deinstalls pillow and installs pillow version 3.1.0

[2018-04-03 19:44] CoDanny commented on #34
Thanks for this, we will change the dependency definition

[2018-04-04 12:26] CoDanny commented on #34
We have changed the dependencies. Try installing the plugin that requires the 5.0 and then try the astroprint plugin again.

[2018-04-04 12:26] #34 closed, assigned to Alfonsopl

[2018-04-05 12:51] cnschu commented on #34
thanks

[2018-04-11 16:17] cnschu opened #36 "printerlistener throws "TypeError: 'frozendict' object does not support item assignment""
Hi there

since version 1.3.7. of octoprint, Astroprint fills the octoprint error log with the following error:

[code]

[2018-04-11 19:33] #22 closed, assigned to nobody

[2018-04-12 14:08] #36 closed, assigned to Alfonsopl

[2018-04-20 20:47] AllenMcAfee opened #39 "Robo print profiles"
@CoDanny I just tested the latest prerelease you posted earlier today.  Things are testing well, but i do want to get our print profiles down.  Can you take a look at https://github.com/Robo3D/Slicing-Profiles/tree/master for our profile for all versions of cura?  I'm noticing the PLA is printing at 215C on the C2, and we tend to print closer to 190C.

[2018-04-20 21:23] CoDanny commented on #39
@AllenMcAfee, I can get you setup with access to the Robo settings so you (or somebody at Robo) can do that at any time. I'll contact you directly to set it up

[2018-04-20 21:23] #39 closed, assigned to nobody

[2018-05-10 05:57] vbasrar opened #41 "Notifications no longer working after installing v1.0.9"
Since installing the 1.0.9 updated version on to my 3 octoprint servers, the notifications of prints completing has stopped working. It no longer sends emails or mobile notifications. I have checked and re-entered the API key and it appears all connected fine. I can view the status of all the printers/jobs, just no notification at the end.

[2018-05-10 10:21] CoDanny commented on #41
Thanks for the report. Fix coming up shortly

[2018-05-10 10:53] #41 closed, assigned to Alfonsopl

[2018-05-11 13:34] vbasrar commented on #41
I can confirm it is all working correctly again following installation of 1.0.10. Many thanks for the very quick response.

[2018-05-16 20:35] w4www opened #43 "Astroprint requires pillow <= 3.1.0 but other apps <= 5.0.0"
When will the dependency on pillow <= 3.1.0 be updated to allow for 5.x?

astroprint 1.0.10 has requirement Pillow<=3.1.0, but you'll have pillow 5.0.0 which is incompatible.

[2018-05-17 09:18] CoDanny commented on #43
Thanks for reporting, we're looking the compatibility and will adjust

[2018-05-17 10:27] #43 closed, assigned to Alfonsopl

[2018-05-23 21:19] CoDanny opened #45 "Error responding to "initial_state""
Two reports of octopi boxes responding with this error: 'NoneType' object has no attribute 'db' when they respond to "initial_state" over websocket.

[2018-05-25 16:10] CoDanny commented on #45
fixed with #46

[2018-05-25 16:10] #45 closed, assigned to Alfonsopl

[2018-05-30 11:28] fred2088 opened #47 "can't access astroprint tab ?"
user with admin right can't access astroprint tab ?
octopi 1.5.1
octoprint-astroprint 1.0.12

Thanks

[2018-05-30 11:30] CoDanny commented on #47
Please provide more info. Is there any error in the javascript console? What error do you get? screenshots of what the users see?

[2018-06-01 03:07] nicksears commented on #16
have you tried refreshing the page? That's what did it for me.

[2018-06-13 07:12] dataman opened #48 "OctoPrint Change Box Name Hangs on Save"
Astoprint Plugin for Octoprint hangs when changing box name.
When clicking save, spinner spins and server returns.
Close Dialog.
Reboot.
Return to astroprint name is changed.

[2018-06-13 07:22] Alfonsopl commented on #48
It seems that with the new version of octoprint there are no incoming messages from the web socket.
You do not need to restart, you are currently changing the name you can see on the monitor or tab.
It will be fixed soon, thanks for the report.

[2018-06-13 09:35] CoDanny commented on #47
Closing due to lack of info

[2018-06-13 09:35] #47 closed, assigned to nobody

[2018-06-13 14:47] #48 closed, assigned to Alfonsopl

[2018-09-02 10:03] Joe-houghton commented on #19
Hi,

I know this issue is closed, but it is happening to me also. It seems to be when I do not select "Shutdown" and instead just pull the power.

Joe

[2018-09-03 06:55] Alfonsopl commented on #19
I can not reproduce the error.
Could you provide more information about your environment and octopi, and plugin version?
Also are you logged to your octopi account after you reboot/shutdown?

[2018-09-05 18:28] Joe-houghton commented on #19
Hi,
Sorry about the delay.
I am using Octopi 1.3.9 (although it was happening in 1.3.8 too)
I installed AstroPrint plugin via the plugin manager and it says version AstroPrint (1.1.0).
Yes I am logged into Octopi after a shutdown, using Raspberry Pi 3.

Is there any more information that I can give you?

Joe

[2018-09-14 00:07] raffaelps commented on #19
I had the same error, every time when my Octopi shutdown, when I turn on the Octopi the plugin lost the key.

- Octopi Version 1.3.9
- AstroPrint Version 1.1.0

Thanks

[2018-09-14 08:45] Alfonsopl commented on #19
I have try with different versions of plugin and octopi and I am still not able to reproduce this error.

I think that the error could be that the plugin is not saving data into its database, that is why it can not find your access token.

Could you check if there is any encrypted data (or even file created) on /.octoprint/data/astroprint/octoprint_astroprint.db ?

[2018-09-19 00:02] raffaelps commented on #19
No @Alfonsopl, there isn't any encrypted data.

[2018-09-19 01:00] jmichelsen commented on #19
I experience this issue too. I thought I had a corrupted SD card so I actually just rebuilt my octopi setup on a new card with the current version of octopi and astroprint. If the pi gets rebooted, regardless of the method (shutdown, restart, loss of power), I have to re-enter my API key.

[2018-09-19 08:18] CoDanny commented on #19
@raffaelps  if this file ```/.octoprint/data/astroprint/octoprint_astroprint.db``` doesn't exists, that is the problem. Now we need to find out why it can't be created. Are you able to access the plugin logs and send them to us?

[2018-09-25 20:48] FedorSosnin commented on #19
Sadly, having the same issue.

[2018-09-26 05:17] daijoubu commented on #19
Myself as well.  I did find the settings file specified on my raspberry pi,
but can't confirm if the key was correctly stored or not.

On Tue, Sep 25, 2018 at 1:48 PM FedorSosnin <notifications@github.com>
wrote:

[2018-10-09 17:43] Selfsustained commented on #19
@CoDanny I am not finding any astroprint directories after install. Using both putty and WinSCP over ssh to rpi3.  Octoprint version: 1.3.9   Octopi version: 0.15.1  Astroprint version: 1.1.0

Edit: Immediately upon inputting my key and clicking link account button, page refreshes to astroprint asking for my permission. Upon authorizing and page refreshes back to octoprint there is an error that s

[2018-10-29 15:01] ghost commented on #19
Did any one find the solution to this problem? I have fully setup the printer to run remotely including powering on/off, cam and Octopi. Now it is useless since I have to be connected to the local network to enter the key every time.

[2018-12-18 11:18] Alfonsopl opened #52 "Allow selection of printer and material profile from astroprint cloud"
Add selection of printer and material profile:

-Send printer and material data for statistics propuse.
-Filter send files and cloud queues from Astroprint.
-Update Octoprint printer profile when select cloud printer profile.

[2019-01-15 04:43] ckohljr commented on #19
Bump - I also have this issue when I power cycle my OctoPI.  I have recently installed OctoPrint image and AstroPrint plugin within the last 2 weeks and it loses my key every time I reboot. Any Help?

[2019-01-15 09:15] Alfonsopl commented on #19
Could you report what permissions has /.octoprint/data/astroprint/octoprint_astroprint.db ? Looks like the data is not being stored on database, and that is why the plugin "loses" the key on reboot. Some of the users has already reported that this file is empty.

[2019-01-15 21:12] Watso4183 opened #53 "No extruder fan on print"
The fan that points to the filament extruding to cool the job is not turning on when sending print jobs from Astroprint app, through this plugin. My device is a Monoprice Select v2. Please let me know what further information you might need to troubleshoot further.

[2019-01-15 21:55] CoDanny commented on #53
Please provide more information such us:

- Where is the print file sliced?
- Does the same print file works if started from OctoPrint?

[2019-01-16 05:12] ckohljr commented on #19
Thanks for the quick response, here are the permissions on the db:

pi@ender3octopi:~/.octoprint/data/astroprint $ ls -l
total 16
-rw-r--r-- 1 pi pi 16384 Jan 16 05:00 octoprint_astroprint.db
pi@ender3octopi:~/.octoprint/data/astroprint $

I don't know why GitHub is using strikeout on the command but it is:
-rw-r--r--

[2019-01-20 03:19] Watso4183 commented on #53
I've been using the Astroprint app, finding projects cia the thingiverse
add-on, and printing directly from the app. I will try pulling down on
gcode file and sending it via octoprint and will report back.

On Tue, Jan 15, 2019, 4:55 PM Daniel Arroyo <notifications@github.com wrote:

[2019-01-24 21:14] #52 closed, assigned to Alfonsopl

[2019-01-24 22:53] andrewsiemer opened #55 "Octoprint Backend with AstroPrint Touch"
I would love to be able to have the fully controllable octoprint as my backend web server while also having the AstroBox Touch as the front end on my enclosure!

[2019-01-25 09:42] CoDanny commented on #55
Thanks for your feedback. However we need to focus our limited resources and this isn't something we have plans on doing at the moment.

[2019-01-25 09:42] #55 closed, assigned to nobody

[2019-01-28 10:54] drkbalamurugan opened #56 "Installing Plugin"
Installing plugin "AstroPrint Cloud" from https://github.com/AstroPrint/OctoPrint-AstroPrint/archive/master.zip...
c:\octoprint\venv\scripts\python.exe -m pip install https://github.com/AstroPrint/OctoPrint-AstroPrint/archive/master.zip --no-cache-dir
Collecting https://github.com/AstroPrint/OctoPrint-AstroPrint/archive/master.zip
DEPRECATION: Python 2.7 will reach the end of its life on January 1

[2019-01-28 10:59] CoDanny commented on #56
It appears to be a problem with pip and not the plugin. Can you try to upgrade the pip version with:

[code]

[2019-02-11 20:54] sirprintsalot8 opened #57 "Wont Connect"
I had the Astroprint Plugin working for about a month and then it stopped. I regenerated a code and input it and it wont see the printer and still shows the octoprint as authorized user back from the last date it work. I deleted both authorized user and readded them and the same thing. My android app goes to todays date when I redo it though. I then when into Octoprint and deleted the plugin and r

[2019-02-11 21:15] CoDanny commented on #57
I'm lost as to how the Android app and the plugin are related, also what code was regenerated? and which authorized user? octoprint's or astroprint account?

Basically I'm not sure what the problem is by this description. Could you add some screenshots perhaps?

[2019-02-11 21:15] #56 closed, assigned to nobody

[2019-02-12 12:46] sirprintsalot8 commented on #57
A full break down. On the Android app I cant see anything. So when I go to the Astroprint tab on Octoprint it just has to add an access key. That is the code I had regenerated and entered back in. But in the Astroprint page in the settings it has authorized users under the My Applications. My phone updates when I open the astroprint app but the octoprint plugin last access is still showing back in

[2019-02-14 10:12] CoDanny commented on #57
What happens when you enter the new access key and go through the auth flow?

[2019-02-14 22:33] sirprintsalot8 commented on #57
I just regenerated the key and entered it. It goes to a page asking if I want to proceed. After I hit yes it refreshes and takes me back to the main Octoprint tab.

[2019-02-15 09:21] CoDanny commented on #57
Does it ask you the key again?

[2019-02-15 21:16] sirprintsalot8 commented on #57
If I go back to the tab for the Astroprint plugin it looks like the screen shot from above.

[2019-02-17 08:14] CoDanny commented on #57
ugh! Ok. This is a problem that we have been chasing for a while but haven't been able to reproduce here. Could you post here a list of all the plugins you have installed and the version of OctoPrint? We'll try to reproduce your environment.

[2019-02-18 17:11] sirprintsalot8 commented on #57
Plugins:

Action Command Prompt
AstroPrint
Bed Leveling Wizard
Bed Visualizer
Cancel Objects
Cost Estimation
Cost Plugin
CuraEngine (<= 15.04)
DeleteAfterPrint Plugin
DisplayLayerProgress Plugin
Fan Speed Control
GcodeEditor
Heater Timeout
MyMiniFactory
Navbar Temperature Plugin
OctoPrint Anywhere
Octolapse
PolarCloud
Print History Plugin
PrintTimeGenius Plugin
Printer Stats
Simple Emergency Stop

[2019-02-21 06:55] flyingelephant19 commented on #57
i get the same issue. well everytime i shutdown the PI and restart, the creditials are gone and have to re enter and on one of my PI's i am running the latest 0.16 octopi.

[2019-02-21 06:56] flyingelephant19 commented on #19
i get the same issue. well everytime i shutdown the PI and restart, the creditials are gone and have to re enter and on one of my PI's i am running the latest 0.16 octopi.

[2019-02-23 03:15] markarsenich commented on #19
I'm also having the same issue and I have NO IDEA how to fix it... every time I reboot I loose the access key. Upon print completion my Octroprint sends a shutdown request via IFTTT to my wifi plug and it turns everything off thats plugged into my surge bar. when i turn everything back on theres no key, i have to log into astroprint.com, get the key, copy it over. has essentially made Astroprint (

[2019-02-23 09:50] CoDanny commented on #19
@markarsenich Does the same happen if you don't turn everything off that way and instead simply reboot the box via the octoprint options?

[2019-02-24 18:02] markarsenich commented on #19
FIXED! All I did was uninstall reboot, re-install reboot, now it works, cut power multiple times, stays logged in.

[2019-02-25 08:16] flyingelephant19 commented on #19
mark, i cant say the same for me :(

[2019-02-25 09:50] flyingelephant19 commented on #19
are there any logs that can be given ?

[2019-02-26 00:17] markarsenich commented on #19
well spoke too soon, not fixed, logging out on power off/on again... about to uninstall this plugin

[2019-02-26 07:45] CoDanny commented on #19
@markarsenich Does the same happen if you don't turn everything off that way and instead simply reboot the box via the octoprint options?

Also are there any other plugins you installed between the time it was working and when it stopped working? Our current assumption is that another plugin is causing this behavior when installed together with ours. We just don't know which just yet.

[2019-03-18 16:52] drzejkopf commented on #19
I experience very same problem with plugin, and it's really irritating. If it's really related to other plugins then maybe it's good idea for everyone experiencing it to post which (non-bundled) plugins they have installed, then it will be easier to tell which plugin/plugins may possibly cause problems, I will start:
-Action Commands (0.1)
-AstroPrint (1.2.0)
-DeleteAfterPrint Plugin (1.2.0)
-Excl

[2019-03-18 19:14] CoDanny commented on #19
Is it possible to disable/delete the "DeleteAfterPrint Plugin" to see if that fixes the issue?

[2019-03-27 08:12] Steveps3 commented on #19
I recently (2 months or so) changed my printer setup so that my pi is powered directly from the printer. Since i did this I am also losing my Astroprint API setting. This only happens once a week or so. Which is quite odd. Obviously the API is being written to the memory card but something is occasionally deleting it. I am on the verge of ditching Astroprint because is becoming so annoying.

[2019-03-27 09:11] CoDanny commented on #19
@Steveps3 since it was working before your change, why not looking at what changed that makes the plugin behave like this? Then we can maybe fix it.

[2019-03-27 09:27] Steveps3 commented on #19
I thought that I'd explained what had changed? My raspberry pi is now powered from the printer. This means that when the printer turns off, so does the pi. There is something in the octoprint software that is just losing the astroprint API setting. This only happens maybe once a week so the problem is not as described above. The file that stores the API key is there most of the time.

[2019-03-27 09:32] CoDanny commented on #19
Ok. So the problem here is that the PI is being cut off without a graceful OctoPrint shutdown? I don't think there's much we can do about this. The system will be caught off guard by a sudden loss of power. In some cases the file with the data might not have been written to the system. This is the reason OctoPrint has a software shutdown/halt that should be used before cutting power.

[2019-03-27 09:46] Steveps3 commented on #19
I have tried using the shutdown and it does the same thing. Which is why I don't bother with it any longer. Also why would cutting the power delete the API setting. The API setting can be there for 4-5 power cycles and then it is gone. It just doesn't make sense. Maybe I could change the permissions on the file so that it cannot be written to once it has the API setting.

[2019-03-27 09:52] CoDanny commented on #19
The same file is used to store other settings so it would depend of what the machine is doing at the time the power is cut. We'll keep looking into it. I thought this could've bee a solid lead but it appears not. We are completely UNABLE to reproduce this behavior and I would say it happens to less than 5% of the plugin users.

It's quite frustrating for us too as the first step to fix a problem i

[2019-03-27 11:05] Steveps3 commented on #19
I am a software engineer so I totally understand your frustration. Being able to recreate a problem is half the battle. I have just spent the last 2 days trying to recreate something. I asked someone about it and they were able to show me the correct settings to recreate it. So frustrating :)

Maybe I will try the uninstall / reinstall method but I do have 2 printers and they both exhibit the same

[2019-03-28 18:24] CoDanny commented on #19
There's a new version (1.2.1) that adds some logging and fixes other things. Please update to it and when this error happens again, reach out so we can take a look at your log.

[2019-04-02 07:18] Steveps3 commented on #19
Well it's done it again. So if you want to tell me where to find the log ans where to send it then I'll be glad to do so.

[2019-04-02 08:41] CoDanny commented on #19
You can access and download files here. If you don't mind [open a ticket with us](https://astroprint.zendesk.com/hc/en-us/requests/new) to share logs. We will post back here when something relevant is found.

![capture](https://user-images.githubusercontent.com/542760/55388490-b3d0a800-5533-11e9-9c6b-84f922258ab0.gif)

[2019-04-07 14:45] aplees opened #60 "Octoprint Plugin cloud download fail"
The most recent update has caused an issue in octoprint. When selecting the cloud download to copy the file to pi local is sticks as 0% and fails to download. Have removed and reinstalled. Same issue. Updated my 2nd octoprint and now the same issue.

[2019-04-08 07:11] Alfonsopl commented on #60
I can not reproduce it, i have try different ways and looks fine.
Do you have the same problem when you try to print the print file instad download it, or when you send to print from astroprint?

[2019-04-09 20:40] aplees commented on #60
thanks for getting back to me.. i have managed to slice the file in astro print and move the file local to onto print no problem... the issue is downloading the STL within astroprint to the local SD card to do the slicing on the PI its self via the slicer plugin.. it hangs at 0% and never starts the download. have now also installed a fresh octoprint on the PI and installed the astro print plugin

[2019-04-14 19:24] zigzaggin commented on #19
I had this issue as well.

I was able to correct the issue by adjusting the permissions on the octoprint_astroprint.db file located in ~/.octoprint/data/astroprint/

I pushed the settings out to 777 because frankly its a closed box and I don't really care... but lower may also work.

Prior to the changed permissions, pulling the power cord caused the plugin to lose my API key, and now I am retaini

[2019-05-02 11:32] rhys100 commented on #25
What if you ONLY support rasp pi and just deny it to all other raspbian installs?

[2019-05-03 00:44] Deneteus commented on #55
Does this mean that if you install the plug-in that it is supposed to break your Octoprint install to where it only comes up with the touch interface? This was working prior to the release of Octoprint 0.16.0.

Which means I could use the plug-in to manage my downloads and print with no problems with .14 and .15 and I could get back to my octoprint web interface. Now it boots to nothing and SSH fa

[2019-05-03 09:03] CoDanny commented on #55
@Deneteus I don't really know what you mean. Nothing has changed. The original poster wanted octoprint in the backend and AstroBox Touch UI in the screen. This isn't something we have ever supported or plan to support.

[2019-05-05 00:23] Deneteus commented on #55
'Does this mean that if you install the plug-in that it is supposed to break your Octoprint install to where it only comes up with the touch interface?'

That one sentence is exactly what I mean. After installing the Astroprint plug-in via the Octoprint Plugin installer my Octoprint Web interface no longer works and the Touch UI comes up via the PI HDMI. Now in the previous incarnation of the plug

[2019-05-05 00:38] Deneteus opened #62 "Installing Astroprint Plug-in disables Octoprint Web UI, now boots Astroprint Touch Interface"
**What is the problem?**

Every time I install Astroprint plugin it kills my Octoprint server. After Astroprint installs the system never reboots. Manual reboot brings you to the white web page text that tells you to login and look at the logs to figure out what is wrong.

**What did you already try to solve it?**

I attempted to SSH into the server to identify what was going on and it won't even

[2019-05-05 18:58] CoDanny commented on #62
This is impossible as you describe it. The OctoPrint plugin has no code that puts anything on the HDMI interface. You might have inadvertently flashed the AstroBox Touch image on your pi.

Could you share some screenshots of both this: "I then connected a 24" LCD monitor and I was greeted with the touch screen interface for the Astroprint" and the file system on your sd card.

[2019-05-06 14:32] CoDanny commented on #19
Could you try installing the new version of the plugin (1.3.0) and see if this problem goes away. You might have to enter the credentials one more time after installation.

[2019-05-06 17:57] Steveps3 commented on #19
Ok, I’ll try that. 
Thanks

[2019-05-10 11:03] Steveps3 commented on #19
It failed after just a day. Same as before, astroprint cannot find the printer. 

[2019-05-10 11:10] CoDanny commented on #19
@Steveps3 I'm a bit confused but this sentence "astroprint cannot find the printer". Do you mean it disconnects from the cloud? Does it ask you for the key again when you go to your OctoPrint interface?

what do you have in the ```/.octoprint/data/astroprint``` directory?

[2019-05-10 11:12] Steveps3 commented on #19
No, it simply says "no remote connections" 

[2019-05-10 11:13] CoDanny commented on #19
Ok, what does the OctoPrint interface say? and also if you could look in the directory I mentioned, that would help

[2019-05-10 11:17] Steveps3 commented on #19
I am not at home right now. Which is why I need astroprint to be working. I will check tonight. 

[2019-05-10 19:48] Steveps3 commented on #19
That directory doesn't exist. Which might explain a few things.

[2019-05-11 19:23] sloth711 commented on #19
hello

i have the same problem with the lastest version on octoprint and astroprint

after i discconnect my print 1h of plug on app android says " you need be logged"

to solve i need to re-install every time new key

please solve that

thank you

[2019-05-15 13:33] rchoughton commented on #19
Has anyone figured out how to solve this problem?

[2019-05-15 13:48] CoDanny commented on #19
@rchoughton Our best guess right now is that in some installations filesystem permissions are preventing our files from being written and there not able to persist the key values.

[2019-05-16 20:07] rchoughton commented on #19
Are these permissions that I can go in and change? Will they will stick making the system remember the key?

[2019-05-17 10:49] CoDanny commented on #19
You can change the permissions of the directory: ```/home/pi/.octoprint/data/astroprint```

@Steveps3, the path I gave you before was wrong. Can you check this new one?

[2019-05-18 08:06] Steveps3 commented on #19
I have two files in that directory
print_files.yaml
user.yaml

[2019-05-18 08:20] Steveps3 commented on #19
These are the permissions that I have
![image](https://user-images.githubusercontent.com/6318429/57966755-2663de80-794e-11e9-9a9c-c6d0c0283bb0.png)

[2019-05-18 09:08] CoDanny commented on #19
Thanks @Steveps3, What about the permissions of the files themselves? Also does the octoprint daemon run under the 'pi' user?

[2019-05-18 10:12] Steveps3 commented on #19
The file permissions are
![image](https://user-images.githubusercontent.com/6318429/57968035-4222b100-795d-11e9-95ba-c5bc6dd73d84.png)

Yes, everything is running under the pi user.

[2019-05-18 10:40] CoDanny commented on #19
can you give write permissions to all and reboot just to test if that helps with your problem. You might have to enter the key one time after reboot and then it should stick

[2019-05-18 12:01] Steveps3 commented on #19
Done. I will have to see how it gets on.

[2019-05-18 12:08] sloth711 commented on #19
Hello... The problem it's solve?

[2019-05-18 12:11] Steveps3 commented on #19
It is a bit optimistic to say that.

[2019-05-20 08:14] CoDanny opened #63 ""more" arrow not working"
Reported via support ticket (#10127):

Hello, the problem I found is that on Astroprint's octoprint plugin, on the Uploaded Print Files (and don't know if in Designs tab too), the arrow to show more options on the right of every listed item doesn't do anything, it only becomes a flat line as seen in attached pictures.

![image](https://user-images.githubusercontent.com/542760/58006290-0a944000-7ae

[2019-05-20 12:01] #63 closed, assigned to Alfonsopl

[2019-05-24 08:07] Steveps3 commented on #19
Failed again.

[2019-05-24 10:22] rchoughton commented on #19
Same for me. It seemed to work for a few days and then it started loosing the key yesterday again.

[2019-06-02 10:23] Deneteus commented on #62
I couldn't inadvertently flash anything. This was all done via the web interface the same way you would install any of the plug-ins.

I actually took a screenshot on May 4th for reference.
https://photos.app.goo.gl/EvBst24n1z168k7Q8

[2019-06-02 11:08] Deneteus commented on #62
I wiped the memory card out and reinstalled octoprint and everything is working.

[2019-06-02 11:08] #62 closed, assigned to CoDanny

[2019-07-23 08:43] CoDanny commented on #19
We have a new clue about this problem. Some people that see this happen in their installation had cloned their sd card from another working octopi. This creates a problem by which two boxes are registering in the AstroPrint network with the same box id, which makes one of them invalid and could be causing this.

If this was the case, could you simply remove the ```box-id``` file referenced here. I

[2019-07-23 08:45] Steveps3 commented on #19
Hi Daniel,
My SD was not cloned but I will certainly give that a try. 
ThanksSteve

Sent from Yahoo Mail for iPhone

[2019-07-26 15:14] seltix5 commented on #19
I have the same problem =/

[2019-07-26 15:18] CoDanny commented on #19
@seltix5 Did you create your octopi by cloning another box?

[2019-07-26 16:13] seltix5 commented on #19
No, clean install and installed plugin

[2019-08-02 07:48] CoDanny commented on #19
New Release 1.3(2) with another attempt to fix this. Let me know if anybody in this thread can see improvements regarding the problem being discussed.

[2019-08-03 00:05] cable1996 commented on #19
Yeah, I updated with the release, and now I'm having the issue when it didn't happen before.

[2019-08-03 21:21] Steveps3 commented on #19
Welcome to the club.

[2019-08-07 17:59] Steveps3 commented on #19
I assume the new method is to have the connection to AstroPrint reconnect every 5 seconds? On my iPad I am constantly being spammed by AstroPrint connection toast when I view the octoprint interface. So now I have to disconnect from AstroPrint just so that I can use octoprint.

[2019-08-07 18:04] CoDanny commented on #19
Absolutely not @Steveps3, your box certainly has a problem connecting and keep the connection. We do try to reconnect when the connection is lost but it shouldn't be every 5 secs. This is likely the root problem. Please open a ticket with us to see what might be going.

[2019-08-09 11:44] rchoughton commented on #19
I have been using for a few days and this morning the key was lost and I have to redo it.

[2019-08-10 16:39] seltix5 commented on #19
I can confirm too, the problem is still there. Today I try to use it and the key was lost. I can't say when it append but it was after last update.

[2019-08-11 09:09] CoDanny commented on #19
The key can be lost for many other reasons including expiration of credentials after not using it for a long time. This problem was about they key being forgotten repeatedly in a short amount of time. After consulting with a few affected users, this particular problem (there might be others) seems to have been solved. Two things were causing it:

1) A bug in our software by which a rejection of co

[2019-08-11 09:09] #19 closed, assigned to Alfonsopl

[2019-08-11 09:11] CoDanny commented on #57
This should be resolved with #65

[2019-08-11 09:11] #57 closed, assigned to nobody

[2019-08-11 09:13] CoDanny commented on #60
@aplees Have you tried this on version 1.3(2)

[2019-08-11 09:14] #23 closed, assigned to nobody

[2019-08-11 15:37] aplees commented on #60
Hi CoDanny. Sorry yes please close this. It fixed its self some time ago. Did go a few weeks with the issue and then one day it just worked.

[2019-08-11 15:38] #60 closed, assigned to nobody

[2019-08-11 23:37] leobel96 commented on #13
@Alfonsopl any news?

[2019-08-12 07:11] CoDanny commented on #13
Hi @leobel96, while we feel this is useful and at some point we would like to do it. We're not in a position to take on this work now as our small team is focused on other more pressing things.

[2019-08-20 14:18] seltix5 opened #66 "Plugin keeps forgetting my access token"
For some reason the plugin forgets the access token. I could not find out exactly what is causing this problem...

any help?

thank you.

[2019-08-20 14:33] CoDanny commented on #66
Have you crated your box as a clone from another?

[2019-08-20 14:46] seltix5 commented on #66
No. It's my first and only raspberry pi 3 b+ brand new installation from the octoprint site

[2019-08-20 14:50] CoDanny commented on #66
It might be an interaction with another plugin. Can you see if this happens when all other plugins disabled? Also when does it forget ?

[2019-08-20 14:55] seltix5 commented on #66
it could be. as I said, I could not find out what exactly is causing the problem. it normally works for some days and then it stops working because the access token is not there anymore. disabling all plugins for that long is not really convenient... :S and since I did not find out what is the root problem even if I disabled all plugins I will not know if its still working because I disabled all p

[2019-08-26 10:56] CoDanny commented on #66
knowing which plugin could potentially affect our plugin would help us narrow down the problem. We can't fix this without the help of people affected as we can't make this happen in our lab and it doesn't happen for the majority of our users. The key to fixing this problem is to find out what is different in the environment of those affected.

A similar bug was found to be caused by cloning SD car

[2019-08-26 12:29] seltix5 commented on #66
Hello,
I will try to disable all add-ons trying to isolate the problem. This will take probably some weeks depending on the prints I will do and I will report back with some results.
Can I just disable the modules or should I uninstall them?

[2019-08-26 13:10] CoDanny commented on #66
You can start with disabling. I think that should be enough.

Thanks for your help!

[2019-08-28 17:23] seltix5 commented on #66
hello,
It just append again today.

My active plugins are :
- AstroPrint (1.3.2)
- Octolapse (0.3.4) (this one cant be the reason since it was disabled when it append the other times)
- PSU Control (0.1.8)
- TouchUI (0.3.13)

OctoPrint 1.3.11 running on OctoPi 0.16.0

[2019-08-28 20:43] CoDanny commented on #66
can you try disabling PSU Control first and see if it happens again?

[2019-08-28 21:16] seltix5 commented on #66
i only installed psu control this week but sure I will disable them all..

[2019-08-29 07:49] seltix5 commented on #66
hello, it just did. this morning when I power up my print and octopi the key was lost...
the only plugin enabled is astroprint

[2019-08-30 07:51] seltix5 commented on #66
hello,
it justs forgot the key again today. it's almost like each time I try to connect to my printer from outsite, (from a public wifi like today) it forgets the key...

[2019-08-30 09:17] CoDanny commented on #66
How do you do that? Do you have access to your OctoPrint instance from outside your network?

[2019-08-30 09:23] seltix5 commented on #66
how I did that? trying to use astroprint... isnt that one of the points of using astroprint?

[2019-08-30 10:00] CoDanny commented on #66
I thought you meant you tried to access your OctoPI box from outside the network. Not via AstroPrint but directly to the box. I was just asking clarification

[2019-08-30 10:36] seltix5 commented on #66
Oh OK. No, I only login to my astroprint account from the browser. Yesterday it was working. I shutdown the printer and the Pi for the night. This morning I power it up both before living the house, the when I login for the first time today to my astroprint account to start a print from a public wifi the printer was not there anymore.

[2019-08-30 10:48] CoDanny commented on #66
Are you able to send me logs from the octopi? You can create a ticket here if you rather do this offline: https://astroprint.zendesk.com/hc/en-us/requests/new

[2019-08-30 10:54] seltix5 commented on #66
That's fine by me, I can attach the logs here or create the ticket if you prefer.
What logs do you need and I do I get them?

[2019-08-30 11:00] CoDanny commented on #66
The main octoprint log. I think there's a way to see them and download from settings.

[2019-08-30 13:40] seltix5 commented on #66
here it is.
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/3560090/octoprint.log)

[2019-08-30 20:50] CoDanny commented on #66
I can see some relevant lines:

[code]

Is there anything on the `/home/pi/.octoprint/data/astroprint` directory

[2019-08-30 21:09] seltix5 commented on #66
only one file "user.yaml" with the content "user: null"

[2019-08-30 21:12] seltix5 commented on #66
I just insert the api token again and this file was updated with :

[code]

[2019-08-30 21:22] CoDanny commented on #66
Just want to make sure of one thing: You edited this to <remove> some private info, correct. That wasn't literally what was on the file.

[2019-08-30 21:30] seltix5 commented on #66
Yes I removed the private keys and replace with "< removed >"

[2019-08-30 21:41] CoDanny commented on #66
I have also seen this in your logs

[code]

This indicates that sometimes there are problems with your network reaching our servers. This might cause use log out. We're still investigating.

[2019-08-30 21:48] seltix5 commented on #66
this specific day around that time I did lose internet (ISP problem) I dont think it's related since it append only that day

[2019-08-30 21:53] CoDanny commented on #66
Ok. I also found this:
[code]

Do you ever log the user out yourself? If not, this might a place I can look deeper. See options why this might be trigger by itself.

[2019-08-30 21:56] CoDanny commented on #66
Is the same astroprint user used in another octoprint box?

[2019-08-30 22:01] seltix5 commented on #66
it may be it. I did not logout myself and i'm using only astroprint in this box

[2019-08-30 22:13] CoDanny commented on #66
We have a lead. There will be new release next week

[2019-08-30 22:21] CoDanny opened #67 "addWatcher error found in logs"
[code]

It's this line:
[code]

Why does `self.plugin.get_printer_listener()` return None?

[2019-08-31 08:47] seltix5 commented on #66
updated log, it lost the key again. the same "WARNING - Unautorized token, AstroPrint user logged out." error append.

[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/3562228/octoprint.log)

[2019-09-02 08:37] #67 closed, assigned to Alfonsopl

[2019-09-02 09:02] CoDanny commented on #66
@seltix5 Version 1.3.3 was released today. Could you please update and let me know if this happens again?

[2019-09-02 09:12] seltix5 commented on #66
hello. plugin updated, logs cleaned and key set again. Lets see if it stays logged this time. thanks :D
I will report in a few days if all works well.

[2019-09-02 13:12] seltix5 commented on #66
hello, now I dont get any printing information, is that normal?
![Screenshot_20190902-110003_Chrome](https://user-images.githubusercontent.com/11258096/64116932-a42be880-cd8b-11e9-9752-21e8b7808b82.jpg)

[2019-09-02 14:47] CoDanny commented on #66
No, sorry this happens when trying to get software out fast :(

[2019-09-02 15:19] CoDanny commented on #66
Emergency release 1.3.4 done

[2019-09-03 07:49] seltix5 commented on #66
hi,
np =) its working again, thanks :D
let's hope the token problem is gone too :+1:

[2019-09-05 15:57] seltix5 commented on #66
hello, key lost again :S
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/3580134/octoprint.log)

[2019-09-06 09:59] CoDanny commented on #66
This seems to be a different cause. Here's the relevant portion of the log to keep for historical reasons:

[code]

We will continue to look at this @seltix5. Thanks for all your help!

[2019-09-06 10:19] seltix5 commented on #66
hello,
glad to help.
that error was already visible on the previous log, but this one appears to be new :

[code]

[2019-09-06 13:53] seltix5 commented on #66
hi,
key lost again, diferent error :
`2019-09-06 05:50:26,297 - octoprint.plugins.astroprint - WARNING - Unautorized token, AstroPrint user logged out.`
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/3584209/octoprint.log)

[2019-09-06 14:02] foosel opened #70 "self.astroprintCloud not set on printer status callback, endless stream of errors in the log"
I had to disable sentry.io logging for the current DSNs due to my instance getting swamped by an error produced within the printer status handler of this plugin:

[code]

Sentry ticket with stack traces and some context data [here](https://sentry.io/share/issue/76bf43e18a014971ac3cf645f4b6e3f6/). Until I turned things off I only saw two users or rather OctoPrint instances affected by this, togethe

[2019-09-06 14:10] foosel commented on #70
After a quick look through your recent commits this *might* be solved by #69

[2019-09-06 15:25] CoDanny commented on #70
Thanks @foosel, we believe so too. This error happened as a side effect of a fix. The problem was quickly fixed in a subsequent release.

Thanks for reporting. Let us know if you see it pop up again

[2019-09-06 15:25] #70 closed, assigned to nobody

[2019-09-07 08:32] CoDanny commented on #66
It's actually the same error we're already looking into. One question. Do you also access astroprint and your box via our mobile app?

[2019-09-07 08:33] seltix5 commented on #66
I do have the app installed and configured yes.

[2019-09-07 10:47] CoDanny commented on #66
I think I found the problem in your system. Your system clock goes back. This will certainly mess with our token refresh sequence as you will be allowed to use a token that has expired with the subsequent access denied error and log out. Here's the proof from your logs:

The last successful token use before the logout:
[code]

The access that creates the logout:
[code]

As you can see the from the

[2019-09-07 10:47] #66 closed, assigned to nobody

[2019-09-07 10:54] seltix5 commented on #66
hello,
is this a normal situation? octopi does not keep time updated?

thank you.

[2019-09-07 10:56] CoDanny commented on #66
I doubt this is normal. This is one reason we have never been able to reproduce this problem ourselves and over 98% of our users don't have it. It might be related to your network maybe blocking NTP? or underpower in the device that makes the clock slow. I don't really know the cause of this but I do know it's not common and it explains your problem.

[2019-09-07 10:59] #21 closed, assigned to nobody

[2019-09-07 11:12] seltix5 commented on #66
ok, this is realy strange. thank you. I will search further about this problem and I will post my finding for future reference and it may help others, is that ok?

I start by setting the correct timezone and wifi country, it was the default from the instalation (https://github.com/Javierma/OctoPrint-TFG/wiki/Setup-the-system-clock-using-raspi-config)

[2019-09-07 11:14] seltix5 commented on #66
ps : about those other not related errors (There was an error loading /home/pi/.octoprint/data/astroprint/print_files.yaml), is it normal? thanks

[2019-09-07 13:10] CoDanny commented on #66
Yes, please post anything you find out here. The print_files.yaml if you don't have print files from the cloud in your pi. However we might make the error log a bit less scary.

[2019-09-07 13:15] seltix5 commented on #66
Yes the message should probably less "error!!!" and just a simple message reporting there is no print files available =)

I will report my future findings here then.
thank you.

[2019-09-07 13:41] CoDanny opened #71 "No Print Files yaml shouldn't log an error"
This error shouldn't be logged as the no presence of a file only indicates that the user has not yet downloaded any cloud print files.

[code]

[2019-09-07 13:42] CoDanny opened #72 "Error getting AccessKeys from mobile app"
[code]

[2019-09-07 15:17] seltix5 commented on #66
update : from this source (https://raspberrypi.stackexchange.com/questions/8231/how-to-force-ntpd-to-update-date-time-after-boot) I could confirm with the command `timedatectl status` the NTP is working :

[code]

[2019-09-08 18:45] seltix5 commented on #66
error report about the time sync problem created : https://github.com/foosel/OctoPrint/issues/3267

[2019-09-09 07:31] seltix5 commented on #66
hello,
I was reading about this situation and the fact that raspberry pi does not have a real hardware clock with battery to keep time when power is off and always depend on internet to update the clock after boot.
I know most users does not have this problem because they rarely shutdown PI or use LAN connection witch is faster than Wifi to connect and update time at boot before loading Octoprint

[2019-09-10 14:12] #71 closed, assigned to nobody

[2019-09-10 14:15] #72 closed, assigned to nobody

[2019-09-28 18:07] CoDanny opened #74 "Second extruder temp not showing"
zonestar zonestar p802qr2

Octoprint can read the temp but it doesn’t get sent to AstroPrint via the plugin.

![C2254451-4C97-48B1-92CF-F94591EC945D](https://user-images.githubusercontent.com/542760/65820600-72dbf680-e22b-11e9-9635-723e90e002fe.png)
![756F8494-2D00-4C02-A4EB-CF2DEC11DB24](https://user-images.githubusercontent.com/542760/65820601-72dbf680-e22b-11e9-904b-c75d17ac664c.png)

[2019-09-30 08:20] #74 closed, assigned to Alfonsopl

[2019-10-11 14:30] max5962 commented on #25
@CoDanny
Any news about that request ? :)
THnaks

[2019-10-11 15:32] CoDanny commented on #25
Hi @max5962 No news. This isn't something we can take on right now.

[2019-10-11 16:11] adam8797 commented on #25
@CoDanny No worries. I’d appreciate if you leave this open, as this is something I’d love to see in the future.

[2019-10-12 10:12] CoDanny commented on #25
@adam8797 certainly we would like to have it also. Just need to clear out other priorities. Thanks for your understanding :)

[2019-11-24 11:57] CoDanny opened #78 "Add port to box url"
When registering the box url for launching to the local url from the cloud, the port needs to be added.

In some cases, people run multiple instances of octoprint in the same device.

[2020-01-09 21:35] greghesp opened #79 "Plugin losing API key"
I've seen the other closed issue about the plugin losing the API key, however this is still happening to me with the latest version.

I only have 1 Pi that isn't a clone, and only 1 plugin shows in my account.

This happens probably every day, certainly multiple times a week

[2020-01-09 21:48] CoDanny commented on #79
Please share your octoprint log

[2020-01-09 22:11] greghesp commented on #79
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4042732/octoprint.log)

Log attached.  I did a quick search for Astroprint.  On the 27th December, you can see in the morning it was connecting fine, then in the afternoon there was no user

[code]

[code]

If you look on the 5th, you can see I readded the API key

[code]

However a day later, it failed to connect as it seems

[2020-01-09 22:36] CoDanny commented on #79
Thanks for all this info. We will investigate

[2020-01-13 20:15] AfromD commented on #13
@Alfonsopl I have a similar request.
I use Octoprint with the PSUControl plugin. This enables my Raspi to control power to the printer.

Basically, it is all automatic, nothing to do for Astroprint. There is just one big problem: When Octoprint has no connection to the printer (because the printer has no power), Astroprint will not start a print job.

I have looked at the code, but it was not inst

[2020-01-19 23:04] greghesp commented on #79
Any joy finding the bug? This seems to happen on a daily basis still

[2020-01-20 10:43] CoDanny commented on #79
We're working on a new version that we expect to release this week.

[2020-01-23 09:05] AfromD commented on #13
Ok, I HACKED this as follows (only recommended if you know what you are doing)

caveat: this has no user interface for configuration, and uniquely works for my setup, where GPIO pin 4 controls a relay which controls printer power. So it does not interface with PSUcontrol, but operates the relay independently. Works for me, might need to work differently for others.

To make sure that Astroprint wi

[2020-02-20 18:31] greghesp commented on #79
Hi,
Saw an update for Octoprint this week. Have updated but the plugin lost the API key already and the app says the printer is locked?

[2020-02-20 19:15] Alfonsopl commented on #79
Hi @greghesp , we did an update on octopi plugin and our box router to allow the boxes to connect to a fleet of accounts that belong to this. Unfortunately there was an error in the box router and all the octoprint plugins and astroboxes were disconnected.
If you can see that the printer is blocked from your app is because a different account is logged in the plugin, or you have not login it yet.

[2020-02-20 19:18] greghesp commented on #79
Hi,

I dont know if that is the issue though, as I was able to view my octoprint instance from the app a few hours ago.

I've only got 1 account. The API key in octoprint is the same API key I took from my account that I logged in with

[2020-02-20 19:29] Alfonsopl commented on #79
Have you ever seen the printer from the application after the plug-in update?
The mobile/tablet needs to be in the same network than your octopi, but I'm afraid that won't be the problem. Can you see your printer from astroprint monitor page?

[2020-02-20 19:31] greghesp commented on #79
Yeah, this morning I updated the plugin. Added the  API key to the plugin and could see it in the app, and control it etc.

[2020-02-20 19:36] greghesp commented on #79
Here you can see when they connected, and what I now see

![Screenshot_20200220-193603](https://user-images.githubusercontent.com/768908/74971595-43b36500-5418-11ea-8e92-f2597a49b2af.png)

![Screenshot_20200220-193556](https://user-images.githubusercontent.com/768908/74971612-4ada7300-5418-11ea-81d9-6dea08fa9e19.png)

[2020-02-22 08:58] CoDanny commented on #79
Could you share your octoprint.log to see if we can see some clues ?

[2020-02-22 10:07] PM3Delta commented on #79
[octoprint_AstroprintFailing.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4239099/octoprint_AstroprintFailing.log)
[octoprint_AstroprintFailing.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4239100/octoprint_AstroprintFailing.log)

Love your plugin, but since a week or so I am constantly loosing the API key as well.
To reconnect: I delete the device in Astroprint a

[2020-02-22 11:36] greghesp commented on #79
Haven't had chance to get my logs yet, but as with @PM3Delta , I can confirm that it works until shutdown.
Every reboot the key is wiped.

[2020-02-22 12:56] CoDanny commented on #79
Thanks @PM3Delta for the logs. We see errors there that will help us narrow the issue

[2020-02-22 16:04] CoDanny commented on #79
In the logs we see this:

[code]

This is a local DNS problem and seems to create a chain reaction that uncovered other errors. We have fixed those errors and improved logging a bit to gather more information and we'll be releasing v1.4.1 next week with this.

It appears that local network issues trigger the problem in this thread which explains why most people don't see it. We're still investigat

[2020-02-22 16:44] greghesp commented on #79
@CoDanny  Here you go.  Looks like 404's and maybe some unhandled error when checking the token (Not familiar with how Python logs errors)
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4239618/octoprint.log)

[2020-02-22 18:28] PM3Delta commented on #79
Cool. Thank you so much.

[2020-02-23 21:21] loadedsith commented on #79
I'm seeing this issue too. Login/API Connection works fine the first time but is lost on a reboot.

In my browser console I see an unhandled error in packed_plugins.js on line 897:

                self.loginAstroprint = function (accessCode, apAccessKey) {
                // ...
                            if (error.status && error.status == 403){
                                title = gettext("

[2020-02-24 10:44] CoDanny commented on #79
@loadedsith What adBlocker are you using and what settings did you have before. Let's see if we can reproduce it here.

[2020-02-24 11:51] greghesp commented on #79
@CoDanny Assuming your plugin folder is `/lib/python2.7/site-packages-octoprint_astroprint`,  I see no `octoprint_astroprint.db` file as specified [here](https://github.com/AstroPrint/OctoPrint-AstroPrint/blob/master/octoprint_astroprint/SqliteDB.py#L12)

[2020-02-24 11:53] CoDanny commented on #79
@greghesp Using MySql was given us a lot of problems. This file is no longer in use by the latest versions. We still keep it there for a while so we can migrate older versions when they upgrade.

[2020-02-24 11:53] greghesp commented on #79
Are you using a yaml file?  if so, my user.yaml file says `user: null` after a reboot.  I'll add a user now and see what happens

EDIT: Added my key, yaml file is now populated.

[2020-02-24 11:55] CoDanny commented on #79
Yes, that is what we use. The user is null because it failed to refresh your token. We're still investigating why this happen. You shouldn't edit this file. user is actually an object with token information.

[2020-02-24 11:56] greghesp commented on #79
I'm not too familiar with Python, but [here](https://github.com/AstroPrint/OctoPrint-AstroPrint/blob/master/octoprint_astroprint/AstroprintDB.py#L20) are you not wiping the user object every time rather than checking to see if its already populated?

[2020-02-24 12:13] greghesp commented on #79
I wonder if this is specific to Octopi.  I've just setup Octoprint in Docker on my PC, and it seems to keep the config file after a reboot

[2020-02-24 13:34] CoDanny commented on #79
We test on OctoPi also and haven't been able to make this happen just yet

[2020-02-24 13:54] CoDanny commented on #79
We have just released a new version (1.4.1) which includes some improved logging as well as some fixes. The root cause for this might not have been fixed but it should give us more information about the problem. Please upgrade your plugin, clear your logs and send post new log files when it happens again.

[2020-02-24 17:21] loadedsith commented on #79
@CoDanny AdBlock Plus(1), and Adblock (2)

1) https://chrome.google.com/webstore/detail/adblock-plus-free-ad-bloc/cfhdojbkjhnklbpkdaibdccddilifddb
2) https://chrome.google.com/webstore/detail/adblock-%E2%80%94-best-ad-blocker/gighmmpiobklfepjocnamgkkbiglidom

Default settings I'm pretty sure.

Unfortunately when I went this morning to ensure that I was logged in to astroprint in octoprint,  I was

[2020-02-24 20:04] PM3Delta commented on #79
Ok. Just a quick heads-up. 1.4.1. installed … not yet restarted yet.  iOS App works.

However experiencing the following, when logging into Astroprint account from my PC within my local network, after showing the printer it seems to disconnect as soon as I click on Control... not critical since logging into it from Home isnt the main usecase, but I thought I led you know.

As soon as the current p

[2020-02-24 23:21] martinbogo commented on #79
I have installed 1.4.1 ... will run it for a while and see if the API key is lost.

[2020-02-25 15:14] CoDanny commented on #79
It appears that we have found the issue and issued a fix on v1.4.2.

For those who are curious this was caused by bad system time in OctoPi. The clock was going back in some restarts tricking the plugin into thinking that an expired token was still valid. This caused unauthorized errors when using the token which resulted in the user being logged out.

The new version refreshes the token on every

[2020-02-25 15:14] #79 closed, assigned to Alfonsopl

[2020-02-25 16:19] martinbogo commented on #79
Will update to 1.4.2 and verify.

On Tue, Feb 25, 2020 at 9:14 AM Daniel Arroyo <notifications@github.com>
wrote:

[2020-02-25 19:05] PM3Delta commented on #79
Hi guys.  Thank you so much… I was just downloading my log so could forward it, when I got the not that you had it fixed.  1.4.2. is already on and running.  I´ll keep you posted.  Again, thanx a bunch.

[2020-02-25 21:24] PM3Delta commented on #79
Please reopen.
[octoprint25022020.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4252258/octoprint25022020.log)
Hey guys…. sorry to say …. key lost again after restart.  It worked after the first cold start, but didnt after the second one.  Please find attached the log, maybe you can read something out of it.
Thx.

[2020-02-25 21:41] CoDanny commented on #79
@PM3Delta This isn't the same at all. You're having DNS issues. Your token failed to refresh because you couldn't reach our servers to do it. Some issues with your ISP. Perhaps try configure Google DNS servers, they're usually more stable than those of most ISPs.

https://developers.google.com/speed/public-dns/docs/using

Your log has these errors towards the end:
```[Errno -3] Temporary failure i

[2020-02-25 21:44] loadedsith commented on #79
Having just troubleshoot DNS on a separate Pi I can tell you with confidence: it is possible for the time to be wrong and for that to impact authentication. I didn't, however, see the error in the timestamps:

[code]

Shows 10 seconds elapsed for a reboot, which checks out to me. If this was a DNS/timing error, I'd have expected the time stamps to appear out of chronological order (or to be very w

[2020-02-25 21:55] CoDanny commented on #79
@loadedsith not sure what you mean. The date problem was from another user's log which clearly showed the time going BACK over 30 mins between reboots. Are you saying that you still have the problem with v1.4.2? If so, please upload your log file

@PM3Delta has DNS problems clearly reported as such in the last few interactions with astroprint in his log.

[2020-02-25 22:10] loadedsith commented on #79
@CoDanny Totally. I'm just saying that DNS issues caused by incorrect times on Raspberry Pi's are a real issue. But that this log doesn't show that to be the problem: the clock doesn't fail during the reboot where @PM3Delta lost his auth.

I'll update you with my own logs/experience asap, as I'm away from my printer.

[2020-02-26 04:17] loadedsith commented on #79
I'm happy to report that nothing I've tried has caused me to become disconnected from Astroprint. I will let you know if that changes.

Thanks for your timely replies and quick action!

[2020-02-26 05:15] PM3Delta commented on #79
@CoDanny Hi thanks for looking into it. It is just strange that it worked for weeks before 1.4.0 and now it doesn’t. Is it necessary to loose the API key from memory just because due to a DNS problem your servers can’t be reached temporarily?  I am not computer savvy enough but my wife was watching Netflix and I had been surfing the net without problems. Thx.

[2020-02-26 08:28] CoDanny commented on #79
@loadedsith It could also a be a DNS problem specific to the Raspberry Pi. We do need to refresh access tokens and there are multiple retries before the software gives up. Have you tried installing ntp on your pi, to keep the date accurate?

[2020-02-27 20:38] PM3Delta commented on #79
hi guys… I have switched to google dns … still losing API.  I am deinstalling Astroprint for now - sorry. Be happy to try again if it is more stable.  Internet is over 75Mbits and <5ms ping.. actually even better ping with ISP DNS.

[2020-02-27 21:34] CoDanny commented on #79
@PM3Delta do you have a PiHole or some adblocker that might interfere with the DNS on your network? If you do, you can try adding astroprint.com, boxrouter.astroprint.com and api.astroprint.com to their whitelist domains.

[2020-02-28 06:24] PM3Delta commented on #79
No I don’t. I only have the typical few plugins installed. Printer Eeprom manager, Bosrd Flash, Avrdude, LayerDisplay, Dashboard, ... The Pi connects nicely with the Octroprint plugin repository which is also via Internet.

[2020-02-28 06:50] PM3Delta commented on #79
It is just strange that it worked flawlessly the weeks before 1.4.0. The annoying part is that one has to reenter the API everytime it has (temporary) connection problems. Can’t you just write the key to memory so it is not lost upon next startup?

[2020-02-28 07:32] greghesp commented on #79
That's not how oauth works 😁

In Octopi, there's an internet connection tab where you can change the DNS servers. What are they set to?

[2020-02-28 16:01] PM3Delta commented on #79
I am not sure I understand exactly what Tab you mean.
I am aware of the Test tab where on can check network availability. Here Octopi pings the google dns servers. Which works fine.
Secondly I am aware of the   /etc/resolv.conf, which points to my routers IP adress, which gets the DNS from my ISP (or as tried yesterday from google DNS). All my other ca 10 devices in the networks also point to my r

[2020-03-09 18:33] greghesp commented on #79
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4308684/octoprint.log)
I think this may still be bugged. I checked my printer the other day to find no key, unsure if that was since the 1.4 update to octoprint though.

Regardless, I added my key back in but now it's saying it's locked?

Edit: just checked the plugin, key has been lost again. Will get the logs..

[2020-03-10 21:21] greghesp opened #83 "Plugin losing API key"
I think this may still be bugged. I checked my printer the other day to find no key, unsure if that was since the 1.4 update to octoprint though.
Added my API key again, and it has since been removed again.
Logs attached.

[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4314851/octoprint.log)

_Originally posted by @greghesp in https://github.com/AstroPrint/OctoPrint-Astro

[2020-03-15 02:46] tytech038 opened #84 "Printer not getting the file from AstroPrint"
My printer is connected to the Astroprint cloud with octoprint. I tried to upload and slice in AstroPrint, That worked, but when i tried to send the print to the printer, It said it could not receive the file.
How do I fix this?

[2020-03-15 21:32] tytech038 commented on #84
My octoprint.log file
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/4335107/octoprint.log)

[2020-03-16 09:43] CoDanny commented on #84
The log doesn't show any relevant errors. This might be caused by network problems. In any case could you share a screenshot of the astroprint cloud's error?

[2020-03-16 09:44] CoDanny opened #85 "Fix deprecation warning"
OctoPrint 1.4.0

[code]

[2020-03-16 17:36] tytech038 commented on #84
This is what it says on my PC
![Screen Shot 2020-03-16 at 12 13 04 PM](https://user-images.githubusercontent.com/62194272/76784961-96b3da00-6782-11ea-84d5-c0c0a7b234d3.png)
And here is what it says on my phone (with CORS on)
![IMG_1518](https://user-images.githubusercontent.com/62194272/76785038-b3501200-6782-11ea-8b5c-25dd410c70f1.PNG)

[2020-03-16 17:47] CoDanny commented on #84
ok, weird. What's the status of the printer in the app? Not operational means that the raspberry pi is not connected to the printer. I'm assuming it is?

[2020-03-18 20:57] tytech038 commented on #84
It is,
It prints just fine from TSD or Octoprint itself.

[2020-03-19 13:01] #85 closed, assigned to Alfonsopl

[2020-03-29 18:30] Antebur opened #89 "Fetaure Enbales/Disable AstroPrint"
it would be nice to have a function to enable/disable Astroprint from Octoprint plugin while not in use without to delete Astroprint account.

[2020-04-02 18:18] Alfonsopl commented on #89
I do not really understand the feature request .
You already can disable it by Octoprint Settings -> plugin manager.

<img width="1010" alt="Captura de pantalla 2020-04-02 a las 19 56 07" src="https://user-images.githubusercontent.com/14834229/78282348-6c04a800-751c-11ea-8c3a-79179ecf6d5b.png">

If you disable it, and you enable it within 14 days, you will still be connected in your account.

[2020-04-02 20:22] CoDanny commented on #89
@Alfonsopl What I think it's being requested here is the ability to unregister from the cloud  ( and stay disconnected ) without logging the user out and then the ability to connect to register to cloud again without having to enter go through the auth flow.

[2020-04-03 06:35] Antebur commented on #89
yes true on the Astroprint Tab of octoprint the abiltity to register/unregstier

[2020-04-13 00:28] #84 closed, assigned to nobody

[2020-04-13 16:49] Alfonsopl opened #90 "Send temperature presets to the cloud."
Temperature presets should be sent to the cloud and displayed in the user interface.

<img width="791" alt="Captura de pantalla 2020-04-13 a las 18 46 16" src="https://user-images.githubusercontent.com/14834229/79139903-667a4e00-7db7-11ea-929b-54434f4a8025.png">

[2020-10-01 13:23] robertomilan commented on #83
Same here

[2020-10-01 13:31] CoDanny commented on #83
@robertomilan logs please

[2020-10-10 16:44] CoDanny opened #95 "[ Material Counter ] Sometimes very high material use lengths are reported"
After running a GCODE file that exhibited this behavior through the material counter code, the length was accurate. The only think I can think of at the moment is that the function count_material is called more than once for each command in some cases.

The function is register to the following octoprint hook:

[code]

[2020-10-16 17:23] adegard commented on #83
It happen to me each time I switch on Raspberry Pi (4B) and Octoprint... So pls find attached my log.
I'm newbee in Octoprint so no idea how it could help
[octoprint (adegard).log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/5393307/octoprint.adegard.log)

[2020-10-20 19:16] CoDanny opened #97 "[ Camera ] Video on mobile app seems to not apply rotation settings"
OctoPrint Settings

![image](https://user-images.githubusercontent.com/542760/96633419-5e2c3e00-1319-11eb-9790-9ef3be255b72.png)

App photos

![image](https://user-images.githubusercontent.com/542760/96633449-6a180000-1319-11eb-8e5e-fc945ba7df17.png)

App Video

![image](https://user-images.githubusercontent.com/542760/96633478-72703b00-1319-11eb-8b10-c2ae40ef55ba.png)

User reports that the video

[2020-10-27 01:13] evan2645 opened #100 "Useful Release Notes"
Hello. When the OctoPrint UI prompts that this plugin needs an upgrade, it states:
[code]

Conveniently, a link to the plugin release notes is included, however this link points to the GitHub Releases page, and there are no useful release notes there. I can't find release notes anywhere, actually - am I missing something? It would be really nice to include them on the releases themselves so I can

[2020-11-08 15:14] DaVinciQc commented on #83
Same issue here. Octoprint is losing API key every few minutes. It's impossible to use Astroprint.

[
[octoprint.log](https://github.com/AstroPrint/OctoPrint-AstroPrint/files/5506556/octoprint.log)
](url)

[2020-11-23 11:15] #97 closed, assigned to Alfonsopl

[2020-11-23 11:16] Alfonsopl commented on #97
Issue fixed by AstroPrint-Mobile new version

[2020-12-30 14:48] BarakRL opened #102 "#101 brakes GCode Viewer css"
PR #101 messed up the CSS for parts of the UI unrelated to astro print, mainly the GCode viewer sliders.
![Capture](https://user-images.githubusercontent.com/4962645/103358665-d86a0300-4abe-11eb-95e4-da20dd697e60.PNG)

[2020-12-30 14:52] CoDanny commented on #102
Thanks we will look into this.

[2021-01-05 15:54] Heratiki opened #103 "Unable to select a Printer Model under Link Printer Model"
When I click Link Printer Model and I'm taken to the Select Printer Model dialog I click on Select Printer Model and am given no choices to choose from.

[2021-01-18 10:23] abbrowna commented on #102
Also misplaces sliders added as custom controls to the top left of the interface.

[2021-02-04 07:14] Pka78 commented on #102
I also have same issue, Astroprint messes up GCode viewer and also another plugin: Filament Manager.

[2021-04-15 21:22] szucsi23 opened #105 "Install freezes at first step"
Hello there!
I'm trying to install AstroPrint on my OctoPrint setup from the Plugin Manager.
But each time I start the install, it gets stuck on the first step.
"Installing plugin "AstroPrint Cloud" from https://github.com/AstroPrint/OctoPrint-AstroPrint/archive/master.zip..."

I left it there for more than an hour, tried restarting the PI, the printer, nothing helps.
Any ideas, what should I try?

[2021-04-16 06:38] CoDanny commented on #105
Look at the logs to see what might be happening. This is very likely an issue with your setup as the software hasn't changed lately and so far I have no other reports of this.

[2021-05-10 14:42] BarakRL commented on #102
almost 5 month and no fix?

[2021-05-18 18:16] MathijsG commented on #103
Having the same problem. Will this ever be fixed? :)

[2021-05-19 19:24] CoDanny commented on #102
Fixed with https://github.com/AstroPrint/OctoPrint-AstroPrint/pull/107

[2021-05-19 19:24] #102 closed

[2021-06-24 23:30] ProTheus-LB opened #109 "Octoprint Version 1.6.1 (raspberry pi 3b) enters safemode after install Astro-print plugin"
Octoprint Version 1.6.1 (raspberry pi 3b)
After installing the plugin, I'm unable to start Octoprint without disable it or uninstall it, the server enters safemode after install Astroprint plugin.

[2021-10-07 14:50] jaymcd commented on #109
I am having same issue with 1.7

[2021-10-17 07:18] foscoj commented on #109
Same issue over here

[2021-11-10 22:35] remcoder opened #111 "Connect is not supported"
When trying to initiate the connection between my 3d printer and Octoprint via the astroprint cloud ui, I get the following error message:

`0e58a95ae2f1c7dca7337153e99fc2c6856f8010.js:11 Failed to send printer command [connect]: <class 'octoprint_astroprint.boxrouter.handlers.requesthandler.PrinterCommandHandler'>::connect is not supported`

Weirdly enough, the ui _does_ report a succesfull conne

[2021-11-10 23:00] remcoder commented on #111
Is it not supported?
https://github.com/AstroPrint/OctoPrint-AstroPrint/blob/3f4b7271c00a594c39170d51a3df15a0188274fa/octoprint_astroprint/boxrouter/handlers/requesthandler.py#L205

[2022-03-27 08:35] Andreas9030 opened #115 "Plugin keeps forgetting my key #19"
https://github.com/AstroPrint/OctoPrint-AstroPrint/issues/19

https://github.com/AstroPrint/OctoPrint-AstroPrint/issues/79

And it still is not working!

The Plugin loses the Key at every restart of my raspi pi4.

Is this plugin still supported?

Thanks Andreas

[2022-06-17 17:00] ngochai opened #116 "Cannot load AstroPrint"
2022-06-17 11:54:39,645 - octoprint.plugins.pluginmanager - INFO - Installing plugin from https://github.com/AstroPrint/OctoPrint-AstroPrint/archive/master.zip
2022-06-17 11:54:40,220 - octoprint.plugin.core - INFO - Plugin Pi Support Plugin (2022.6.13) did not pass check, not loading.
2022-06-17 11:54:58,790 - octoprint.plugin.core - INFO - Plugin Pi Support Plugin (2022.6.13) did not pass check,